.grid {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
  max-height: 56rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.flex-consult {
  overflow-x: auto;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 10px;
}



.videoGame {
  width: 10.5rem;
  height: 15.5rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 10.5rem;
  height: 15.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}
.videoGame img {
  width: 10.5rem;
  height: 15.5rem;
  object-fit: cover;
  overflow: hidden;
}
.videoGame.active {
  background-color: black;
}

.videoGame:hover {
  box-shadow: 0 0 10px orange;
}

.videoGame.active .overlay {
  opacity: 1;
}

.videoGame.active .overlay {
  opacity: 1;
}

@media (max-width: 1088px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:835px){

  .grid{
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-template-rows: auto;
    width: 100%;
  }

}

@media (min-width:1300px){

  .grid{
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-template-rows: auto;
    width: 100%;
  }

}
