<app-toolbar />
<div class="main">
  <div class="main__main-container">
    <div class="main__main-container__container-img-game">
      <img [src]="game.imagen[0]" alt="{{ game.nombre }}" class="main__main-container__container-img-game__img" />
    </div>
    <div class="main__main-container__container-right">
      <div class="main__main-container__container-right__container-up">
        <div class="main__main-container__container-right__title-videoGame">
          {{ game.nombre }}
        </div>
      </div>

      <div class="main__main-container__container-right__container-infoGame">
        <div class="main__main-container__container-right__container-infoGame__container-vistas">
          <mat-icon class="eye"> visibility </mat-icon>
          <div class="main__main-container__container-right__container-infoGame__container-vistas__numVistas">
            visitas {{ game.numVistas }}
          </div>
        </div>
        <div class="main__main-container__container-right__container-infoGame__container-category">
          <h3 class="main__main-container__container-right__container-infoGame__container-category__text-category">
            Genero: {{ game.categoria }}
          </h3>
        </div>
        <div class="main__main-container__container-right__container-infoGame__container-ranking">
          Valoracion:
          <div class="main__main-container__container-right__container-infoGame__container-ranking__number-ranking">
            {{ game.calificacion }}
          </div>
          <mat-icon class="main__main-container__container-right__container-infoGame__container-ranking__star">
            star_border
          </mat-icon>
          <div class="main__main-container__container-right__container-infoGame__container-ranking__numbCalificaciones">
            / {{ game.numCalificaciones }} calificaciones
          </div>
        </div>
        <div class="main__main-container__container-right__container-infoGame__container-plataformas">
          <div class="main__main-container__container-right__container-infoGame__container-category__title">Plataformas:</div>
          <div class="main__main-container__container-right__container-infoGame__container-plataformas__plataforma"
            *ngFor="let plataforma of game.plataformas">
            {{ plataforma }},
          </div>
        </div>
      </div>

      <div id="video" class="main__main-container__container-right__video"></div>
      <div class="main__main-container__container-right__container-gallery">
        <div class="main__main-container__container-right__gallery-img" *ngFor="let imagen of game.imagen.slice(1)"
          (click)="openPopup(imagen)">
          <img [src]="imagen" />
        </div>
      </div>
      <div class="popup-img" *ngIf="mostrarPopup" (click)="closePopup()">
        <span>&times;</span>
        <img [src]="imagenPopup" />
      </div>

      <div class="main__main-container__container-right__container-description">
        <textarea class="main__main-container__container-right__container-description__custom-text-area"
          placeholder="{{ game.descripcion }}" readonly>{{ game.descripcion }}</textarea>
      </div>

      <section>
        <div class="main__main-container__container-right__container-title-comments">
          <h2 class="main__main-container__container-right__container-title-comments__title-comment">
            Comentarios
          </h2>
        </div>

        <div class="main__main-container__container-right__container-comments">
          <div class="main__main-container__container-right__container-comments__comentario"
            *ngFor="let comentario of comentarios">
            <div class="main__main-container__container-right__container-comments__comentario__container-sup-comments">
              <h2
                class="main__main-container__container-right__container-comments__comentario__container-sup-comments__user-name-comment">
                {{ comentario.user }}
              </h2>
              <h2
                class="main__main-container__container-right__container-comments__comentario__container-sup-comments__date-comment">
                {{ comentario.fecha }}
              </h2>
            </div>
            <div
              class="main__main-container__container-right__container-comments__comentario__container-description-comment">
              <p
                class="main__main-container__container-right__container-comments__comentario__container-description-comment__description-comment">
                {{ comentario.comentario }}
              </p>
            </div>
            <div class="main__main-container__container-right__container-comments__comentario__container-inf">
              <div
                class="main__main-container__container-right__container-comments__comentario__container-inf__container-likes">
                <h3
                  class="main__main-container__container-right__container-comments__comentario__container-sup-comments__date-comment">
                  {{ comentario.likes }}
                </h3>
                <mat-icon
                  class="main__main-container__container-right__container-comments__comentario__container-inf__container-likes__like">
                  thumb_up
                </mat-icon>
              </div>
              <div
                class="main__main-container__container-right__container-comments__comentario__container-inf__container-likes">
                <h3
                  class="main__main-container__container-right__container-comments__comentario__container-sup-comments__date-comment">
                  {{ comentario.dislikes }}
                </h3>
                <mat-icon
                  class="main__main-container__container-right__container-comments__comentario__container-inf__container-likes__like">
                  thumb_down
                </mat-icon>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
