<app-toolbar />
<div class="main">
  <div class="main-container">
    <div class="container-img-game">
      <img [src]="dataGame.image[0]" alt="{{ dataGame.title }}" class="img" />
    </div>
    <div class="container-right">
      <div class="container-up">
        <div class="title-videoGame">
          {{ dataGame.title }}
        </div>
        <div class="container-ranking">
          <div class="number-ranking">4,5</div>
          <img class="star" src="../../../assets/img/STAR.png" />
        </div>
      </div>
      <div class="container-vistas">
        <mat-icon class="eye">
          visibility
        </mat-icon>
        <div class="numVistas">
          {{dataGame.view}} vistas
        </div>
      </div>
      <div class="container-category">
        <h3 class="text-category">Genero: {{ dataGame.category }}</h3>
      </div>

      <div class="container-gallery">
        <div class="gallery-img" *ngFor="let imagen of dataGame.image.slice(1)" (click)="openPopup(imagen)">
          <img [src]="imagen" />
        </div>
      </div>

      <div class="popup-img" *ngIf="mostrarPopup" (click)="closePopup()">
        <span>&times;</span>
        <img [src]="imagenPopup" />
      </div>

      <div class="container-description">
        <textarea class="custom-text-area" readonly>{{ dataGame.description }}</textarea>
      </div>

      <section>
        <div class="container-title-addComments">
          <h2 class="title-comment">Comentarios</h2>
          <div class="btn-addComments" (click)="changeStateAddComment()" *ngIf="stateAddComment === false">
            <p class="title-btnAdd"> Agregar Comentario </p>
          </div>
          <div class="btn-addComments" (click)="changeStateAddComment()" *ngIf="stateAddComment === true">
            <p class="title-btnAdd"> Cancelar </p>
          </div>

        </div>
        <div class="container-comments">
          <div class="container-add-comment" *ngIf="stateAddComment === true">

            <div class="textarea-wrapper">
              <form [formGroup]="form">
                <textarea class="custom-text-area" placeholder="Agregue su Comentario"
                formControlName="comment"></textarea>
              </form>
            

              <div class="btn-confirm" (click)="postComments()">Confirmar</div>
            </div>

          </div>
          <!-- <div class="comentario" *ngFor="let comentario of comentarios"> 
            <div class="container-sup-comments">
              <h2 class="user-name-comment">
                {{ comentario.user }}
              </h2>
              <h2 class="date-comment">
                {{ comentario.fecha }}
              </h2>
            </div>
            <div class="container-description-comment">
              <p class="description-comment">
                {{ comentario.comentario }}
              </p>
            </div>
            <div class="container-inf">
              <div class="container-likes">
                <h3 class="date-comment">
                  {{ comentario.likes }}
                </h3>
                <mat-icon class="like"> thumb_up </mat-icon>
              </div>
              <div class="container-likes">
                <h3 class="date-comment">
                  {{ comentario.dislikes }}
                </h3>
                <mat-icon class="like"> thumb_down </mat-icon>
              </div>
            </div>
          </div>-->
        </div>
      </section>
    </div>
  </div>
</div>