<div class="background">
  <div class="container-login">
    <div class="container-title">
      LOGIN
    </div>
    <div class="container-input">
      <input type="text" class="input" placeholder="usuario">
    </div>
    <div class="container-input">
      <input type="password" class="input" placeholder="contraseña">
    </div>

    <div class="btn-log" routerLink="/mainPage">
      <div class="text-btn">
        Ingresar
      </div>
    </div>

    <div class="container-register">
      <div class="text-register">
        no tienes cuenta registrate
      </div>

      <div class="link-register" (click)="navigateToRegisterUser()">
        <div class="text-register-link">
          aqui
        </div>
      </div>
    </div>
  </div>
</div>