

.background {
  background-image: url(../../../assets/img/games-background.jpg);
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 300px;
  background-color: black;
  gap: 20px;
}

.container-title {
  color: white;
  font-size: 25px;
  font-family: "Kdam Thmor Pro", sans-serif;
  user-select: none;
}

.container-input {
}

.input {
  background-color: black;
  outline: white;
  height: 40px;
  width: 350px;
  color: white;
  border-radius: 40px;
  padding: 10px;
  font-size: 16px;
}
input::placeholder {
  color: #999;
  font-style: italic;
  font-size: 14px;
}

.btn-log {
  width: 100px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

.invalid{
  background-color: #191919;
  cursor:default;
}
.container-register{
display: flex;
align-items: center;
gap: 5px;
}
.text-register{
  font-size: 14px;
  color: white;
}

.text-register-link{
  font-size: 14px;
  color: rgb(233, 97, 7);
  cursor: pointer;
}

::ng-deep .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.7;
}
::ng-deep  .cdk-overlay-dark-backdrop {
  backdrop-filter: blur(49px);
}

.input-error{
  display: flex;
  flex-direction: column;
  height: auto;
}

.invalid-text{
  color: rgb(82, 81, 81);
}
