<div class="background">
  <form [formGroup]="form">
    <div class="container-login">
      <div class="container-title">LOGIN</div>
      <!-- HTML -->
      <div class="input-error">
        <div class="container-input">
          <input type="text" class="input" placeholder="email" formControlName="email" />
        </div>
      </div>
      <div class="input-error">
        <div class="container-input">
          <input type="password" class="input" placeholder="password" formControlName="password" />
        </div>
      </div>

      <div *ngIf="form.valid" >
        <div class="btn-log"  (click)="validateLogin()">
          <div class="text-btn">Ingresar</div>
        </div>
      </div>
      <div *ngIf="!form.valid">
        <div class="btn-log invalid">
          <div class="text-btn invalid-text">Ingresar</div>
        </div>
      </div>

      <div class="container-register">
        <div class="text-register">¿No tienes cuenta? Regístrate</div>
        <div class="link-register" (click)="openModalRegister()">
          <div class="text-register-link">aquí</div>
        </div>
      </div>

      <div class="container-error" *ngIf="error === true">
        <div class="text-error">
          usuario o contraseña incorrectos
        </div>
      </div>
    </div>
  </form>
</div>