<div class="background">
  <form [formGroup]="form" class="background__container-login overlay">
    <div class="background__container-login__background-top-logo">
      <img
        class="background__container-login__background-top-logo__logo"
        src="../../../assets/img/Phoenix_Games-removebg-preview (1).png"
      />
    </div>
    <div class="background__container-login__title">LOGIN</div>

    <div class="background__container-login__container-inputs">
      <input
        type="text"
        class="background__container-login__container-inputs__input"
        placeholder="usuario"
        formControlName="email"
      />

      <input
        type="password"
        class="background__container-login__container-inputs__input"
        placeholder="contraseña"
        formControlName="password"
      />
    </div>

    <div *ngIf="form.valid">
      <div class="btn-log" routerLink="/mainPage">
        <div class="text-btn">Ingresar</div>
      </div>
    </div>
    <div *ngIf="!form.valid">
      <div class="btn-log invalid">
        <div class="text-btn invalid-text">Ingresar</div>
      </div>
    </div>

    <div class="container-register">
      <div class="text-register">¿No tienes cuenta? Regístrate</div>
      <div class="link-register" (click)="openModalRegister()">
        <div class="text-register-link">aquí</div>
      </div>
    </div>
  </form>
</div>
