html,
body {
  margin: 0;
  width: 100vw;
}

.main {
  background-color: rgb(19, 19, 19);
  width: 100%;
  display: flex;
  height: max-content;
  flex-direction: column;
  box-sizing: border-box;
  &__container-up {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: max-content;
    z-index: 1;
    &__img {
      width: 100%;
      height: 30rem;
      position: relative;
      z-index: 2;
    }
    &__background {
      background-color: black;
      opacity: 0.8;
      width: 100%;
      height: 4rem;
      position: absolute;
      z-index: 10;
    }
  }
  &__body {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: space-between;
    &__container-left {
      width: 25%;
    }
    &__container-right {
      display: flex;
      width: 70%;
      &__videoGames {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

@media (max-width: 835px) {
  .main__body {
    flex-direction: column;
    gap: 1rem;
  }
  .main__body__container-left {
    width: 100%;
  }
  .main__body__container-right {
    width: 100%;
  }
  .main__body__container-right__videoGames {
    width: 100%;
  }
  .main__container-up__img {
    height: 40vw;
  }
}

@media (min-width: 1300px) {
  .main__body__container-right__videoGames {
    width: 100%;
  }
}

@media (max-width: 616px) {
  .main__container-up__background {
    height: 8vw;
  }
}
