<div class="main">
  <section class="main__container-up">
    <app-toolbar />
    <img src="../../../assets/img/GAMES_PRINCIPAL.png" class="main__container-up__img">
    <div class="main__container-up__background"> </div>
  </section>
  <section class="main__body">
    <div class="main__body__container-left">
      <app-categories (saveCategories)="handleSelectCategory($event)"/>
    </div>
    <div class="main__body__container-right">
      <app-view-video-game
        class="main__body__container-right__videoGames"
        (hoverChanged)="handleHoverChange($event)"
        [categoriaSeleccionada]="category"
      />
    </div>
  </section>
</div>
