html,
body {
  height: 100%;
  margin: 0;
}

.main {
  background-image: url(../../../assets/img/abstract-black-metallic-polygon-orange-light-futuristic-technology-design-background-vector.jpg);
  min-height: 100vh;
  /* Cambiado de % a vh */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // background-image: url(../../../assets/img/wp9221335.jpg);
  margin-bottom: 40px;
  align-items: center;
  display: flex;

}

.container-bigLogo{
  width: 40%;
}

.container-logo {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-list-video-game {
  width: 910px;
  height: 700px;
  margin-left: 50px;
  padding: 20px;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: row;
  display: grid;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
}

.container-list-video-game::-webkit-scrollbar {
  width: 7px;
  border-radius: 8px;
  background: var(--B500, #33474c);
}

.container-list-video-game::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 8px;
  background-color: #030301;
  margin: 0 4px;
}

.logo {
  width: 200px;
  height: 200px;
}

.ubi-logo {

  width: 600px;
  height: 550px;
  
}

.container-categories {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  margin-left: 70px;
  padding-top: 20px;
  margin-left: 70px;
  margin-bottom: 15px;
}



.container-login-main {
  width: 100%;

  display: flex;
  justify-content: right;
}

.container-right {
  margin-left: 3%;
  width: max-content;
}

.container-login {
  margin-top: 10px;
  width: 220px;
  background-color: rgb(233, 97, 7);
  height: 50px;
  border-radius: 99px;
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 5px;
  
  margin-bottom: 40px;
  justify-content: space-between;
}

.background-user-icon {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contaier-login-left {
  display: flex;
  gap: 5px;
}

.img-icon-logo {
  width: 40px;
  height: 40px;
}

.container-user {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.userName {
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.email-user {
  font-size: 10px;
  color: black;
}

.moreOptions {
  margin-left: 5px;
  cursor: pointer;
}

.menu-options-text {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.mat-mdc-menu-item {
  min-height: 20px;
}


.scroll-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px;
  transition: transform 0.3s ease;
}

.button-Categories {
  background-color: rgb(233, 97, 7);
  outline: black;
  min-width: 50px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

.text-categories {
  font-size: 14px;
  color: black;
  padding: 2px;
  font-weight: 700;
  margin: 0;
}

.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: rgb(233, 97, 7);
}

.scroll-left {
  left: 0;
}

.scroll-right {
  right: 0;
}