p {
  padding: 0;
  margin: 0;
}

.main-toolbar {
  width: 100%;
  height: 4rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  z-index: 100;
  &__container-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    &__icon-back-container {
      width: 5.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      cursor: pointer;
      &__img-icon {
        width: 100%;
      }
    }

    &__title {
      font-size: 2rem;
      font-family: "arcade";
      color: white;
    }
  }

  &__container-login {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5px;
    &__background-user-icon {
      width: 2.5rem;
      border-radius: 100%;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;

      &__img-icon-logo {
        width: 100%;
      }
    }

    &__container-user {
      display: flex;
      flex-direction: column;
      user-select: none;
      &__userName {
        font-size: 14px;
        font-weight: 700;
        color: white;
      }

      &__email-user {
        font-size: 10px;
        color: white;
      }
    }
  }
}

.moreOptions {
  margin-left: 5px;
  cursor: pointer;
  color: white;
}

.menu-options-text {
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.mat-mdc-menu-item {
  min-height: 20px;
}

@media (max-width: 713px) {
  .main-toolbar__container-left__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 640px) {
  .main-toolbar__container-left__title {
    font-size: 1.3rem;
  }
}
@media (max-width: 616px) {
  .main-toolbar__container-left__icon-back-container {
    width: 8vw;
  }
  .main-toolbar__container-left__title {
    font-size: 3vw;
  }
  .main-toolbar {
    height: 8vw;
  }
}
@media (max-width: 403px) {
  .main-toolbar__container-left__title {
    font-size: 2.5vw;
  }
}

@media (max-width: 490px) {
  .main-toolbar__container-login__container-user__email-user {
    display: none;
  }
}

@media (max-width: 550px) {
  .main-toolbar__container-login__background-user-icon {
    width: 5vw;
  }
  .main-toolbar__container-login__container-user__userName {
    font-size: 2vw;
  }
  .main-toolbar__container-login__container-user__email-user {
    font-size: 2vw;
  }
}
