<div class="main-toolbar">
  <div class="container-toolbar-elements">
    <div class="icon-back-container" routerLink="/mainPage/:id">
      <mat-icon class="mg-icon">
        arrow_back_ios
      </mat-icon>
    </div>
    <div class="container-login-main">
      <div class="container-login">

        <div class="container-left">
          <div class="background-user-icon">
            <img src="../../../assets/img//pngtree-phoenix-flame-flying-png-image_6855516.png" class="img-icon-logo" />
          </div>
          <div class="container-user">
            <div class="userName">{{dataUserLocalStorage.username}}</div>
            <div class="email-user">{{dataUserLocalStorage.email}}</div>
          </div>
        </div>

        <mat-icon class="moreOptions" [matMenuTriggerFor]="afterMenu">
          keyboard_arrow_down
        </mat-icon>
        <mat-menu #afterMenu="matMenu" xPosition="after">
          <button mat-menu-item class="menu-options-text" routerLink="/login">
            <p class="menu-options-text">Cerrar Sesion</p>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>