.main-toolbar{
  width: 100%;
  height: 50px;
  background-color: rgb(233, 97, 7);
  display: flex;
  align-items: center;

}

.btn-categories{
  margin-left: 50px;
  width: 150px;
  height: 30px;
  background-color: black;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.container-toolbar-elements{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-btn-categories{
  font-size: 14px;
  color: white;
  font-weight: 700;
}

.data-log{
  margin-right: 50px;
  width: 150px;
  height: 30px;
  background-color: black;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.container-login-main {
  width: 100%;
  display: flex;
  justify-content: right;
}

.container-login {
  width: 220px;
  background-color: rgb(233, 97, 7);
  height: 50px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.container-left{
  display: flex;
  gap: 5px;
}

.background-user-icon {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-icon-logo{
  width: 40px;
  height: 40px;
}
.img-icon{
  width: 70px;
  height: 70px;
  padding: 5px;
}

.container-user{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.userName{
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.email-user{
  font-size: 10px;
  color: black;
}

.moreOptions{
  margin-left: 5px;
  cursor: pointer;
}

.menu-options-text{
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.mat-mdc-menu-item{
  min-height: 20px;
}

.icon-back-container{
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 20px;
}
