<div class="main" id="mainDiv">
  <!-- Este div se mostrará si el ancho de la pantalla es mayor a 835px -->
  <div class="main__mainCategory">Categorias</div>
  
  <div *ngFor="let category of saveArray; let index = index">
    <div
      class="main__mainCategory__containerCategories"
      [ngClass]="{ selected: category.select }"
      (click)="emitCategory(category, index)"
    >
      {{ category.categoria }}
    </div>
  </div>
</div>

<div class="menu" id="menuDiv">
<p class="menu__text-menu-cat">Categorias</p>
<div class="megaMenu">
  <div
    class="megaMenu__item-container"
    *ngFor="let category of saveArray; let index = index"
    (click)="emitCategory(category, index)"
    [ngClass]="{ select: category.select }"
  >
    <div class="megaMenu__item-container__item-text">
      {{ category.categoria }}
    </div>
  </div>
</div>
</div>


