/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Codystar:wght@300&family=Kdam+Thmor+Pro&display=swap");
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'arcade';
  src: url(./assets/fonts/arcade/BarcadeBold-B8nV.otf);
}

*{
  margin: 0;
  padding: 0;
}
