/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Codystar:wght@300&family=Kdam+Thmor+Pro&display=swap");
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'arcade';
  src: url(./assets/fonts/arcade/BarcadeBold-B8nV.otf);
}

*{
  margin: 0;
  padding: 0;
}


.scroll::-webkit-scrollbar {
  width: 14px;
}

.scroll::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
  border-radius: 12px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 12px;
  border: 5px solid rgb(0, 0, 0); 
  background-color: rgb(255, 115, 1);
}
