.main{
  width: 510.458px;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title{
    text-align: center;
    font-size: 1.25rem;
    color: white;
    font-weight: 700;
  }
  &__containerGames{
    display: flex;
    flex-direction: row;
    overflow-x: auto;

  }
}
